@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}
body {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #5bc8af;
}
.svg-item {
  width: 170px;
  height: 170px;
  font-size: 16px;
}
.donut-ring {
  stroke: #202060;
}
.donut-segment {
  animation: donut-chart-fill 1s reverse ease-in;
  transform-origin: center;
  stroke: #b030b0;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #d83b3b;
  transform: translateY(0.25em);
}
.donut-percent {
  font-size: 0.4em;
  fill: #6c91bf;
  line-height: 1;
  transform: translateY(0.5em);
  border-radius: 10em;
}
.donut-text {
  font-family: "Centra", sans-serif !important;
  fill: #b030b0;
}
